* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body{
    height: 100vh;
    width: 100%;
    background-image: url("./images/fond.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:  center ;
}  

.figure {
    position: relative;
    
    animation: avancer 5s linear infinite alternate;
}

.chapeau {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 885px; 
    z-index: 3;
}

 .tete{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 950px; 
    z-index: 2;
 }   

.corps{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1000px; 
    z-index: 1;
}

.panneau {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 850px; left: 60%;
}


 @keyframes avancer {
    0%   { left: 10px; 
    }
    100% {
         left: calc(100% - 100px); 
        }
}


.snow {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
}

.snow span {
  position: absolute;
  top: -10px;
  width: 10px; height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

/* Animation de chute */
@keyframes fall {
  to { transform: translateY(100vh); }
}

/* Variations pour chaque flocon */
.snow span:nth-child(1) { left: 5%;  animation-duration: 6s; }
.snow span:nth-child(2) { left: 15%; animation-duration: 8s; width: 12px; height: 12px; }
.snow span:nth-child(3) { left: 25%; animation-duration: 7s; }
.snow span:nth-child(4) { left: 35%; animation-duration: 5s; }
.snow span:nth-child(5) { left: 45%; animation-duration: 9s; width: 14px; height: 14px; }
.snow span:nth-child(6) { left: 55%; animation-duration: 6s; }
.snow span:nth-child(7) { left: 65%; animation-duration: 10s; }
.snow span:nth-child(8) { left: 75%; animation-duration: 7s; width: 8px; height: 8px; }
.snow span:nth-child(9) { left: 85%; animation-duration: 6s; }
.snow span:nth-child(10){ left: 95%; animation-duration: 8s; }

.snow span:nth-child(11){ left: 12%; animation-duration: 9s; }
.snow span:nth-child(12){ left: 22%; animation-duration: 5s; }
.snow span:nth-child(13){ left: 32%; animation-duration: 7s; }
.snow span:nth-child(14){ left: 42%; animation-duration: 6s; }
.snow span:nth-child(15){ left: 52%; animation-duration: 8s; }
.snow span:nth-child(16){ left: 62%; animation-duration: 9s; }
.snow span:nth-child(17){ left: 72%; animation-duration: 5s; }
.snow span:nth-child(18){ left: 82%; animation-duration: 7s; }
.snow span:nth-child(19){ left: 92%; animation-duration: 6s; }
.snow span:nth-child(20){ left: 50%; animation-duration: 10s; width: 16px; height: 16px; }
